/* Aside one and two */
.aside-one,
.aside-two {
	margin-top: 3.2rem;
	margin-bottom: 5rem;
	padding: 0 1.875rem;
	padding-top: 1.75rem;
	padding-bottom: 1.875rem;
	
	
	border: 1.25rem solid var(--white-aside);

}

@media (min-width: 915px) {
	.aside-one {
		position: absolute;
		top: -3%;
		right: 0;
		max-width: 15em;
		padding: 1.625rem;
	}

	.aside-two {
		position: absolute;
		right: 0;
		top: 22%;
		max-width: 15em;
	}
}

/* title */
.title-aside {
	margin-bottom: 2.5rem;

	color: var(--dark-blue);
	font-weight: 700;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

@media (min-width: 915px) {
	.title-aside {
		margin-bottom: 1rem;
		width: 10rem;
		font-size: 1.25rem;
	}
}

.subtitle-aside {
	margin-top: 1rem;

	color: var(--dark-blue);
	font-weight: 300;
	font-family: var(--font-lora);
}

/* text */
.paragraph-aside {
	margin-top: 1.5rem;

	color: var(--dark-blue);
	font-weight: 300;
	font-size: 0.875rem;
}

@media (min-width: 915px) {
	.paragraph-aside {
		line-height: 1.4rem;
		min-width: 10rem;
	}
}

.line-aside {
	width: 95%;
	margin: 0 auto;
	margin-top: 1.75rem;
	margin-bottom: 1.5rem;
}