@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');

/*==============
	Variables
================*/

:root {
	/* Colors */
	--white: #FFFFFF;
	--white-header: #F8F8F8;
	--dark-blue: #143774;
	--light-blue: #1792D2;
	--white-aside: #EBEBEB;
	--gray-text-line: #707070;
	--gray-nav: #717171;

	/* Fonts */
	--font-lora:'Lora', serif;
	--font-ubuntu:'Ubuntu', sans-serif;

	/* Borders */
	--border-black: 1px solid black;
	--border-blue: 1px solid blue;
}

/*==============
	Layout
================*/

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white);
	font-family: var(--font-ubuntu);
	width: 100%;
/*	max-width: 1080px;*/
	margin: auto;
}

/*==============
	Main
================*/

.main {
	margin: 3.75rem auto;
	max-width: 95%;
	position: relative;
}

@media (min-width: 915px) {
	.main {
		max-width: 81%;
		margin-left: 8rem;
		margin-right: 14.25rem;
	}
}

/* Section 1 */

/* img main */
.img {
	max-width: 100%;
}

.strong {
	font-weight: 700;
}

@media (min-width: 915px) {
	.section-one .date-comments {
		margin: 1.825rem 0;
	}
}

/* general styles text */
.line {
	border: none;
    height: 1px;
    background: var(--gray-nav);
}

.date-comments {
	margin-top: 2.4rem;
	margin-bottom: 0.75rem;

	font-weight: 300;
	font-size: 0.825rem;
	font-family: 'Segue UI', arial;
	color: var(--gray-nav);
}

.title {
	font-size: 1.5rem;
	color: var(--dark-blue);
	font-weight: 400;
	font-family: var(--font-lora);
}

.paragraph {
	padding: 1.875rem 0;
	line-height: 2rem;

	font-size: 1.125rem;
	color: var(--gray-text-line);
	font-family: var(--font-ubuntu);
}

@media (min-width: 915px) {
	.article {
		width: 100%;
	}

	.img-content {
		display: inline-block;
	}

	.img {
		display: inline;
		clear: both;
	}

	.text-content {
		float: right;
		max-width: 48.84%;
		height: 222px;
	}

	.section-one .paragraph {
		max-width: 70.14%;
	}
}

.continue-read {
	font-size: 0.875rem;
	letter-spacing: 2.8px;
	text-transform: uppercase;
	font-weight: 700;
}

.continue-read .link {
	color: var(--light-blue);
}

.line-section {
	margin-top: 1.875rem;
	margin-bottom: 2.8rem;
}

@media (min-width: 915px) {
	.line-section {
		width: 72.14%;
	}
}

/* Section 2 */

.section-two .title {
	display: inline-block;
	margin-top: 1rem; !important
}

.section-two .date-comments {
	float: right;
	margin-top: 1.1rem;
}

@media (min-width: 915px) {
	
	.section-two .title {
		margin-top: 0;
	}

	.section-two .date-comments {
		float: none;
	}
}

.section-two .continue-read {
	margin-bottom: 3.75rem;
}

.img-deco {
	margin-top: 3.2rem;
}

/*@media (min-width: 1080px) {
	.section .date-comments {
		
	}
}*/

/*==============
	Aside
================*/

/* Aside one and two */
.aside-one,
.aside-two {
	border: 1.25rem solid var(--white-aside);
	
	padding: 0 1.875rem;
	padding-top: 1.75rem;
	padding-bottom: 1.875rem;

	margin-bottom: 5rem;
}

@media (min-width: 915px) {
	.aside-one {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 15em;
		padding: 1.625rem;
	}

	.aside-two {
		position: absolute;
		right: 0;
		top: 22%;
		max-width: 15em;
	}
}

/* title */
.title-aside {
	margin-bottom: 2.5rem;

	color: var(--dark-blue);
	font-weight: 700;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

@media (min-width: 915px) {
	.title-aside {
		margin-bottom: 1rem;
		width: 10rem;
		font-size: 1.25rem;
	}
}

.subtitle-aside {
	margin-top: 1rem;

	color: var(--dark-blue);
	font-weight: 300;
	font-family: var(--font-lora);
}

/* text */
.paragraph-aside {
	margin-top: 1.5rem;

	color: var(--dark-blue);
	font-weight: 300;
	font-size: 0.875rem;
}

@media (min-width: 915px) {
	.paragraph-aside {
		line-height: 1.4rem;
		min-width: 10rem;
	}
}

.line-aside {
	width: 95%;
	margin: 0 auto;
	margin-top: 1.75rem;
	margin-bottom: 1.5rem;
}